aiopg==1.0.0
aiogram==2.9.2
openpyxl==3.0.5
pandas==1.1.1
numpy==1.19.1
matplotlib==3.3.1
xlrd==1.2.0
sympy==1.6.2
pyautogui==0.9.50
selenium==3.141.0
requests==2.24.0
regex==2020.7.14
psutil==5.7.2
psycopg2==2.8.5